@model Inmobiliaria_Tanuz.Models.Pagos

@{
    ViewData["Title"] = "Details";
}

<h3 style="font-family:'Tahoma'">Detalles del pago </h3>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdPago }) |
    <a asp-controller="Contrato" asp-action="Index">Volver a la lista</a>
</div>
