@model IEnumerable<Inmobiliaria_Tanuz.Models.Pagos>

@{
    ViewData["Title"] = "Index";
}

<h3 style="font-family:Tahoma" class="text-center">Lista de Pagos.</h3>


<table class="table table-striped table-hover">
    <thead class="headerTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrato.Inmueble.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrato.Inmueble.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrato.Inmueble.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrato.Inmueble.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrato.Inmueble.Precio)
            </td>
           
        </tr>
}
    </tbody>
</table>
