@model IEnumerable<Inmobiliaria_Tanuz.Models.Pagos>

@{
    ViewData["Title"] = "VerPagos";
    Contrato c = ViewBag.Contrato as Contrato;
}

<h1>Ver Pagos</h1>

<p>
    <a asp-route-id="@c.IdContrato" asp-action="Create">Crear un nuevo pago</a>
</p>
<h6>El pago corresponde al contrato Nº: @c.IdContrato pertenece al inquilino: @c.Inquilino.Nombre  @c.Inquilino.Apellido ,
 del inmueble para uso @c.Inmueble.Uso , de tipo @c.Inmueble.Tipo  con direccion en : @c.Inmueble.Direccion
</h6>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id=item.IdPago}) ||
                @Html.ActionLink("Detalles", "Details", new { id=item.IdPago }) ||
                @Html.ActionLink("Elimiar", "Delete", new { id=item.IdPago })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Contrato" asp-action="Index">Volver a la lista</a>