@model IEnumerable<Inmobiliaria_Tanuz.Models.Pagos>

@{
    ViewData["Title"] = "VerPagos";
    Contrato c = ViewBag.Contrato as Contrato;
}

<h3 style="font-family:Tahoma">Ver Pagos</h3>

<p>
    <a class="btn btn-outline-warning" style="font-family:Tahoma" asp-route-id="@c.IdContrato" asp-action="Create">Crear un nuevo pago</a>
</p>
<h6>El pago corresponde al contrato Nº: @c.IdContrato pertenece al inquilino/a: @c.Inquilino.Nombre  @c.Inquilino.Apellido ,
 del inmueble para uso @c.Inmueble.Uso , de tipo @c.Inmueble.Tipo , con direccion en : @c.Inmueble.Direccion .
</h6>

<table class="table table-striped table-hover">
    <thead class="table-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPago" title="Actualizar"><i class="bi bi-pencil-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.IdPago" title="Detalles"><i class="bi bi-card-list"></i></a>
                <a asp-action="Delete" asp-route-id="@item.IdPago" title="Eliminar"><i class="bi bi-trash"></i></a>
     
        </tr>
}
    </tbody>
</table>
<a asp-controller="Contrato" asp-action="Index">Volver a la lista</a>