@model IEnumerable<Inmobiliaria_Tanuz.Models.Propietario>

@{
    ViewData["Title"] = "Index";
    Inmueble i = ViewBag.Inmueble as Inmueble;
}

<h1 style="font-family:Tahoma">Lista de propietarios.</h1>

<p>
    <a class="btn btn-outline-secondary" style="font-family:Tahoma" asp-action="Create">Crear un nuevo propietario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvatarProp)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <img width="32" src="@item.AvatarProp">
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.IdPropietario }) ||
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPropietario }) ||
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPropietario }) ||
                <a asp-route-id="@item.IdPropietario " asp-action="PorPropietario">Ver propiedades</a>
            </td>
        </tr>
        }
    </tbody>
</table>
