@model IEnumerable<Inmobiliaria_Tanuz.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h3 style="font-family:Tahoma" class="text-center">Lista de inquilinos.</h3>
<hr>
<p>
    <a class="btn btn-warning" style="font-family:Tahoma" asp-action="Create">Agregar inquilinos</a>
</p>
<table class="table table-striped table-hover">
    <thead class="headerTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInquilino" title="Actualizar"><i class="bi bi-pencil-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.IdInquilino" title="Detalles"><i class="bi bi-card-list"></i></a>
                <a asp-action="Delete" asp-route-id="@item.IdInquilino" title="Eliminar"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
