@model IEnumerable<Inmobiliaria_Tanuz.Models.Contrato>

<h3>@ViewBag.Title</h3>
   


<h1 style="font-family:Tahoma" class="text-center">Lista de Contratos.</h1>
<hr>

    <p>
        <a class="btn btn-warning" style="font-family:Tahoma" asp-action="Create">Nuevo contrato</a>
    </p>
<div class="col-xl-6">
    <form class="form-inline" asp-action="BuscarContratoPorFecha" asp-controller="Contrato">
        <div class="input-group-sm">
            <label for="FechaInicio" class="control-label"></label>
            <input type="date" name="FechaInicio" class="form-control" required />
        </div>
        <div class="input-group-sm">
            <label for="FechaFinal" class="control-label"></label>
            <input type="date" name="FechaFinal" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-outline-warning">Contratos vigentes</button>
    </form>
</div>
    <table class="table table-striped table-hover">
        <thead class="table-warning">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdContrato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InquilinoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InmuebleId)
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdContrato)
                    </td>
                    <td>
                        @(item.Inquilino.Nombre+" "+ item.Inquilino.Apellido)
                    </td>
                    <td>
                        @(item.Inmueble.Duenio.Nombre+" "+ item.Inmueble.Duenio.Apellido)
                    </td>
                    <td>
                        @(item.Inmueble.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdContrato" title="Actualizar"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.IdContrato" title="Detalles"><i class="bi bi-card-list"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdContrato" title="Eliminar"><i class="bi bi-trash"></i></a>
                        <a asp-route-id="@item.IdContrato" asp-controller="Pagos" asp-action="VerPagos" title="Ver Pagos"><i class="bi bi-file-earmark-ppt-fill"></i></a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
